---
layout: meta
---

<body>
	<header>
		<div class="container">
			<ul>
				<li><a href="/">Info</a></li>
				<li><a href="/" target="_blank">Apply</a></li>
				<li><a href="/" target="_blank"><img src="/assets/branding/joyart_logo_stacked.png" alt="Joyart"></a></li>
				<li><a href="/">Gallery</a></li>
				<li><a href="/" target="_blank">Contact</a></li>
			</ul>
		</div>
	</header>

	{{ content }}

	<footer>
		<div class="container">
			<ul>
				Copyright © 2018 Joyart Show, all rights reserved.
			</ul>
		</div>
	</footer>
</body>
